body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
    color: blue;
}

.nav-bar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.nav-item:hover {
    background-color: rgb(71, 244, 186);
}

.nav-bar li a:visited {
    color:blue;
}

.nav-item {
    float: right;
}

.nav-name {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}