body {
    background-color: lightblue;
    margin-left: 40px;
    max-width: 100%;
}

.nav-bar {
    list-style-type: none;
    margin-left: -40px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 5px;
    margin-top: -10px;
    overflow: hidden;
    background-color: aquamarine;
    font-size: 18px;
    color: blue;
    max-width: 100%;
}

.nav-bar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.nav-item:hover {
    background-color: rgb(71, 244, 186);
}

.nav-bar li a:visited {
    color:blue;
}

.nav-item {
    float: right;
}

.nav-name {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.paper {
    max-width: 650px;
    font-size: 17px;
}

.code {
    max-width: 750px;
}

.oversized {
    max-width:80%;
}